<% breadcrumb :favorites %>
<div class="topver"></div>

<div class="main">
   <div class="main-contents">

        <%# 以下パン屑リスト %>
        <div class="page__list">
          <%= breadcrumbs separator: " &rsaquo; " %>
        </div>
        <%# /パン屑リスト %>

       <div class="form__top">
          <p>お気に入りの作品</p>
       </div><br><br><br>
        

       <div class="item__wrapper">
          <% if @favorites.present? %>
              <% @favorites.each do |favorite| %>
              <% items = favorite.item %>
                  <%# 部分テンプレートでフォームを表示する %>
                  <%= render partial: "items/items", locals: { items: items } %>
              <% end %>
          <% end %>
       </div>  

       <div class="item__paginate">
          <%= paginate @favorites %>
       </div>

   </div> 
</div> 
