<% if model.errors.any? %>
<div class="error-alert">
  <ul>
    <% model.errors.full_messages.each do |message| %>
    <li class='error-message'>●    <%= message %></li>
    <% end %>
  </ul>
</div>
<br>
<% end %>

<%# 呼び出す時は以下を使用 %>
<%#= render 'shared/error_messages', model: f.object %> 