   <div class="topver-search">
          <%= search_form_for @q, url: search_items_path, class: :search__forms do |f| %>
                <%= f.text_field :text_or_age_or_material_or_making_cont, placeholder: '検索したいワードを入力', class: :search__form %>
                <%= f.submit '検索', class: :search__submit %>
          <% end %>
  </div>
