<div class="topver"></div>

<div class="main">
  <div class="main-contents login">
   <div class="form__wrapper new">

      <div class="form__top">
       編集する
      </div>
      <%# 部分テンプレートでフォームを表示する %>
      <%= render partial: "form" %> 

   </div>
  </div>
</div>