

<div class="topver">
   <%= render partial: "searchver" %> 
</div>

<div class="main">
  <div class="main-contents index">

  <div class="item__wrapper">

  <% @items.each do |items| %>

    <div class="item">
      <%= link_to image_tag( items.image , class: :item__img ),  item_path(items.id)%> 
      <div class="item__body">
        <%= link_to items.user.name , user_path(items.user_id), class: :item__user %>
        <p class="item__favorite">♡</p>
      </div>
    </div>  

  <% end %>

  </div>
 </div>
</div>
