<div class="topver">
   <%= render partial: "searchver" %> 
</div>

<div class="main">
  <div class="main-contents index">

        <div class="item__wrapper">
            <% @search_item.each do |items| %>
                <%# 部分テンプレートでフォームを表示する %>
                <%= render partial: "items", locals: { items: items } %>
            <% end %>
        </div>

       <div class="item__paginate">
          <%= paginate @search_item %>
       </div>
  </div>
</div>
