/* リセットCSS
---------------------------------------------- */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* 共通の部分
---------------------------------------------- */

body{
  width: 100%;
  height: 100%;
}

.error-message{
  color: #fa6852;
  font-weight: bold;
}

.topver{
 width: 100%;
 height: 85px;
 background-color: #C0E4F2;
 display: flex;
 justify-content : center ;
 align-items : center ;
}

.topver-search{
  width: 60%;
  height: 50px;
}

.search__forms{
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 0;
 }

 .search__form__users{
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 0;
}

 .search__form{
  width: 60%;
  height: 40px;
  color: #565656;
  background-color: #FFFCD6;
  border-radius: 50px;
  border: none;
  margin: auto 3px auto auto;
}

.search__form::placeholder{
  font-size: 14px;
  color: #b5b3b3;
  text-align: center;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

.search__submit{
  width: 80px;
  height: 35px;
  text-align: center;
  line-height: 100%;
  border: none;
  border-radius: 50px;
  background-color: #84b8eb;
  color: #FFF;
  margin: auto;
}

.search__submit:hover{
  background-color: #529ae2;
}

.search__radiobtn{
  font-size: 12px;
  background-color: #FFFCD6;
  color: #818181;
  border: none;
  padding: 6px;
  border-radius: 50% 40% 60% 50% ;
  margin-right: 3px;
}

.main{
  width: 100%;
  height: 100%;
  padding: 50px 0;
  background-color: #E9F9FF;
  display: flex;
  justify-content : center ;
  align-items : center ; 
}

.main-contents{
  width: 90%;
  height: 90%;
  background-color: #FFF;
  border-radius: 15px;
}

/* ページネーション*/
.item__paginate{
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
}

.pagination{
  text-align: center;
  display: flex;
  justify-content: center; 
}

.pagination span{
  text-align: center;
  width: 50px;
  font-size: 20px;
}

.pagination a{
  color: #818181;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 10px;
}

.pagination a:hover{
  width: 50px;
  height: 50px;
  background-color: #84b8eb;
  color: #FFF;
  border-radius: 100%;
  padding: 10px;
}

.current{
  font-weight: bold;
  color: #84b8eb;
  padding: 10px;
}


/* ヘッダー
---------------------------------------------- */

.header{
  width: 100%;
}

.inner{
  width: 100%; 
  height: 75px;
  margin: 20px 0;
}

.nav{
  width: 100%; 
  height: 75px;
  display: flex;
  justify-content : space-between ;
  align-items : center ;
  padding: 40px;
}

.nav__left{
  width: 30%;
  }

.logo__pc{
  width: 400px;
  height: 70px;
  display: block;
}

.logo__mobile{
   display: none;
}

.nav__btn,
.nav__btn2{
 margin-right: 20px;
 background-color: #ebeced;
 color: #818181;
 font-weight: bold;
 font-size: 17px;
 padding: 20px 20px;
 border-radius: 5px;
}

.nav__btn:hover{
  background-color: #84ceeb;
  color: #FFF;
}

.nav__btn2:hover{
  background-color: #84b8eb;
  color: #FFF;
}

.nav__right{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__user__name{
  width: auto;
  height: 75px;
  color: #818181;
  font-size: 17px;
  line-height: 75px;
  margin-right: 15px;
}

.header__user__img{
  width: 75px;
  height: 75px;
  border: 1px solid #aaaaaa;
  border-radius: 100%;
  object-fit: cover;
  padding: 3px;
}

.nav__frame {
  font-size: 18px;
  line-height: 300%;
  display: inline-block;
  padding: 0.5em 1em 0.3em;
  position: relative;
  color: #818181;
  border: solid 2px #84ceeb;
  border-radius: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.nav__frame:before {
  background-color: #C0E4F2;
  border-radius: 5px;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: -1;
  border-radius: 10px;
}

.show-lists{
  position: absolute;
  top: 90px;
  right: 40px;

  width: 210px;
  margin-top: 20px;
  background-color: #FFFAB3;
  border-radius: 10px;
  padding: 20px;
}

.pull-down-list{
  width: 80%;
  text-align: center;
  border-bottom: 3px solid #FFF;
  margin: auto;
  margin-bottom: 5px;
}

.pulldown__text{
  color: #73735a;
  font-size: 17px;
  font-weight: bold;
  display: block;
}

.pulldown__text:hover{
  color: #FFF;
  background-color: #84b8eb;
  border-radius: 5px;
}

.hidden{
  display: none;
  position : fixed ;
  z-index : 10;
}

/* フッター
---------------------------------------------- */

.footer {
  height: 40px;
  width: 100%;
  background-color: #aaaaaa;
  padding: 10px 0;
}

.copyright {
  text-align: center;
  color: #fff;
  font-size: 15px;
}

/* パン屑リスト
---------------------------------------------- */

.page__list{
  width: 100%;
  color: #84b8eb;
  font-size: 20px;
  margin: 30px 0 0 40px;
}

/* 新規登録・ログイン・ユーザー情報編集
---------------------------------------------- */

.login{
  width: 75%;
}

.form__wrapper{
  width: 70%;
  height: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form__top{
  width: 30%;
  text-align: center;
  margin: 0 auto;
  margin-top: 45px;
  font-size: 30px;
  color: #565656;
  border-bottom: 5px solid #84b8eb ;
}

form{
  width: 50%;
  margin: 50px auto ;
}

.need{
  height: 20px;
  padding: 3px;
  text-align: center;
  background-color: red;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  margin: 4px 0 0 10px;
}

.field{
  width: 100%;
  margin-bottom: 30px;
}

.field__flex{
  display: flex;
}

#img_prev{
  display: block;
  width: 150px;
  height: 150px;
  border: 1px solid #aaa;
  border-radius: 100%;
  object-fit: cover;
  padding: 5px;
  margin: 10px auto;
}

.field input,textarea{
  width: 100%;
  border: 1.5px solid #aaaaaa;
  border-radius: 5px;
  display: block;
  margin: auto;
}

textarea{
  height: 100px;
}

input{
  padding: 10px;
  font-size: 17px;
}

.field label{
  color: #818181;
  font-size: 16px;
}

.form__btn{
  width: 50%;
  text-align: center;
  border: none;
  background-color: #84b8eb;
  color: #FFF;
  border-radius: 5px;
}

/* 編集機能でのみ使用 */
.login__attention{
  width: 600px;
  margin: 50px auto;
  font-size: 17px;
  color: #565656;
}

.login__attention span{
  color: #84b8eb;
  margin-right: 15px;
}

.account__destroy{
  width: 50%;
  margin: 100px auto 120px;
}

.delete__btn{
  width: 100%;
  text-align: center;
  border: none;
  background-color: #818181;
  color: #FFF;
  border-radius: 5px;
}

/* 作品投稿機能（items/new）
---------------------------------------------- */

.new{
 width: 100%;
}

.post__field{
  margin-bottom: 40px;
}

.preview img{
  display: block;
  max-width: 500px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 7px 7px #e3e3e3;
  margin: 20px auto;
}

.post__field label{
  color: #818181;
  font-size: 16px;
  margin-bottom: 20px;
}

.form__age{
  width: 100px;
  margin: auto 15px auto auto;
}

.field__flex__age{
  display: flex;
  justify-content: flex-end;
}


.field__flex__age p{
  font-size: 20px;
}

.form__text{
  height: 200px;
  font-size: 17px;
}

.form__text::placeholder,
.form__tag::placeholder{
  color: #aaaaaa;
  font-size: 14px;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

/* トップページ（items/index）
---------------------------------------------- */

.index{
  height: 80%;
}

.index_top{
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index__left__img{
  position: relative;
  display: block;
  width: 800px;
  height: 400px;
  margin:0 150px 30px 0;
  animation: balloon 2s forwards;
}

.index_top_btn{
  display: flex;
  flex-direction :  column;
}

.index__btn1{
  position: absolute;
  top: 250px;
  right: 200px;

  display: block;
  width: 230px;
  height: 230px;
  border-radius: 10px;
  margin: 0 auto 10px;
  animation: balloon 1.5s forwards;
}

.index__btn2{
  position: absolute;
  top: 500px;
  right: 100px;

  display: block;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  margin: 0 auto 5px;
  animation: balloon 1.9s forwards;
}

.index__btn2:hover,
.index__btn1:hover{
margin: 8px 0 0 8px;
}

/* １列３投稿にしたい場合はこちらを使用 */

/* .item__wrapper{
  width: 100%;
  height: 90%;
  margin: 70px 50px ;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3,minmax(300px , 1fr));
}

.item{
  width: 300px;
  height: 330px;
  margin-bottom: 60px;
}

.item__img{
  background-color: #FFF;
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 5px;
  box-shadow: 8px 8px 2px 1px  #f5f5f5;
  object-fit: cover;
}

.item__img:hover{
  width: 290px;
  height: 290px;
  margin: 10px;
  box-shadow: 8px 8px 2px 1px #C0E4F2;
} 

.item__body{
  display: flex;
  justify-content : space-between ;
  align-items : center ;
  margin-top: 20px;
}

.item__favorite{
  font-size: 25px;
  padding: 5px;
}

.favorite__count{
  font-size: 20px; 
  font-weight: bold;
  padding: 5px;
}

.item__user__under{
  font-size: 18px;
  font-weight: bold;
  background-color: #84b8eb;
  color: #FFF;
  border-radius: 5px;
  padding: 7px;
}

.item__user__under:hover{
  font-size: 17px;
  background-color: #c4c4c4;
  color: #FFF;
  border-radius: 5px;
  padding: 7px;
}

.item__user__over{
  height: 35px;
  line-height: 200%;
  font-size: 14px;
  font-weight: bold;
  background-color: #84b8eb;
  color: #FFF;
  border-radius: 5px;
  padding: 4px;
}

.item__user__over:hover{
  height: 35px;
  font-size: 14px;
  background-color: #c4c4c4;
  color: #FFF;
  border-radius: 5px;
  padding: 4px;
} */

/* １列４投稿にしたい場合はこちらを使用 */
.item__wrapper{
  width: 100%;
  height: 90%;
  margin: 70px 50px ;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4,minmax(300px , 1fr));
}

.item{
  width: 200px;
  height: 220px;
  margin-bottom: 80px;
}

.item__img{
  background-color: #FFF;
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 5px;
  box-shadow: 8px 8px 2px 1px  #f5f5f5;
  object-fit: cover;
}

.item__img:hover{
  width: 190px;
  height: 190px;
  margin: 10px;
  box-shadow: 8px 8px 2px 1px #C0E4F2;
}

.item__body{
  display: flex;
  justify-content : space-between ;
  align-items : center ;
  margin: 20px 0 30px 0;
}

.item__favorite{
  font-size: 17px;
  padding: 5px;
}

.favorite__count{
  font-size: 17px; 
  font-weight: bold;
  margin: 0 2px 0 2px;
}

.item__user__under{
  font-size: 14px;
  font-weight: bold;
  background-color: #84b8eb;
  color: #FFF;
  border-radius: 5px;
  padding: 6px;
}

.item__user__under:hover{
  font-size: 14px;
  background-color: #c4c4c4;
  color: #FFF;
  border-radius: 5px;
  padding: 6px;
}

.item__user__over{
  height: 35px;
  line-height: 200%;
  font-size: 14px;
  font-weight: bold;
  background-color: #84b8eb;
  color: #FFF;
  border-radius: 5px;
  padding: 4px;
}

.item__user__over:hover{
  height: 35px;
  font-size: 14px;
  background-color: #c4c4c4;
  color: #FFF;
  border-radius: 5px;
  padding: 4px;
}
/* ここまで１列３投稿の場合表示 */

.slider_toppage{
  background-color: #90cee9;
  padding-top: 50px;
}

.slider_toppage_p{
  display: block;
  width: 30%;
  color: #9e9e7b;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  background-color: #FFFAB3;
  border-radius: 30px;
  margin: 0 auto 100px;
  padding: 10px;
}

.toppage{
  width: 60%;
  margin:  0 auto;
}

.slider__img_toppage{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* 投稿詳細ページ（items/show）
---------------------------------------------- */

.post{
  height: 100%;
}

.posts{
  display: flex;
  justify-content : center ;
  align-items : center ;
}

.post__wrapper{  
  width: 100%;
  height: 90%;
}

.post__contents{
  margin: 100px 80px ;
}

.post__top{
  width: 500px;
  display: flex;
  justify-content : space-between ;
  margin: 0 auto;
  margin-top: 40px;
}

.post__image{  
  width: 500px;
  height: auto;
  display: block;
  margin: 0 auto 50px;
  border-radius: 10px;
  box-shadow: 8px 8px 2px 1px #f5f5f5;
}

.post__tag{
  width: 500px;
  font-size: 16px;
  margin: 20px auto 50px;
  padding: 5px;
}

.test{
  position: relative;
  display: inline-block;
  padding: 10px 20px 10px 70px;
  color: #818181;
  border-radius: 35px 0 0 35px;
  background: #e8e6e6;
}

.item__post__user{
  font-size: 20px;
  font-weight: bold;
  background-color: #84b8eb;
  color: #FFF;
  border-radius: 5px;
  padding: 7px;
}

.item__post__user:hover{
  background-color:  #fffabe;
  color: #9a9a9a;
}

.post__item__favorite{
  font-size: 25px;
  margin-right: 5px;
  padding: 5px;
}

.post__favorite__count{
  font-size: 25px; 
  font-weight: bold;
  padding: 5px;
}

.post__time{
  width: 100%;
  font-size: 14px;
  color: #818181;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.post__time p{
  font-weight: bold;
}

.center{
  text-align: right;
}

.test:before {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffffff;
}

/* 投稿詳細ページのコメント・材料・作り方の枠
---------------------------------------------- */
.box26 {
  width: 65%;
  height: auto;
  font-size: 15px;
  color: #818181;
  margin: 0 auto 60px;
  position: relative;
  padding: 30px;
  border: solid 3px #b5b3b3;
  box-shadow: 7px 7px 2px 2px #FFFAB3;
  border-radius: 8px;
}
.box26 .box-title {
  width: 100px;
  height: 80px;
  position: absolute;
  display: inline-block;
  top: -40px;
  left: 10px;
  margin:  0 5px;
}
/* ここまで投稿詳細ページのコメント・材料・作り方の枠 */

.post__manage{
  width: 19%;
  margin: 100px auto 30px;
  display: flex;
  justify-content : space-between ;
}

.edit__btn,
.destroy__btn{
  padding: 10px;
  background-color: #e5e5e5;
  color: #818181;
  font-weight: bold;
  font-size: 14px;
  border-radius:  10px;
  text-align: center;
}

.post__manage2{
  width: 50%;
  margin: 50px auto;
  display: flex;
  justify-content : space-between ;
}

.items__btn1,
.items__btn2{
  display: block;
  color: #818181;
  font-size: 17px;
  font-weight: bold;
  padding: 15px 30px;
  border-radius:  50% 60% 50% 70%;
}

.items__btn1{
  background-color: #c7c7c7;
}

.items__btn1:hover{
  background-color: #90c7fe;
  color: #FFF;
}

.items__btn2{
  background-color: #c7c7c7;
}

.items__btn2:hover{
  background-color: #84b8eb;
  color: #FFF;
}

.comment__btn{
  width: 200px;
  padding: 10px;
  background-color: #d6d6d6;
  color: #818181;
  font-weight: bold;
  font-size: 17px;
  border-radius:  50% 60% 50% 70%;
  text-align: center;
}


.edit__btn:hover{
  background-color: #84ceeb;
  color: #FFF;
}

.destroy__btn:hover{
  background-color: #84b8eb;
  color: #FFF;
}

/* コメント(items/show,comments/_form,comments/_item_comment)
---------------------------------------------- */

.comments{
  margin: 40px 80px ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments__contents{
  width: 700px;
}

.comment__form{
  width: 100%;
}

.comment__field{
  width: 100%;
  text-align: center;
}

.post__comment{
  width: 100%;
  height: 130px;
  font-size: 17px;
  border: 2px solid #aaaaaa;
  border-radius: 5px;
}

.comment__text{
 font-size: 17px;
}

.comment__btn{
  border: none;
  background-color: #FFF9B1;
  margin-top: 20px;
}

.comment__btn:hover{
  background-color: #FFFCD6;
}

.comment__pc{
  width: 700px;
  height: 80px;
  border-radius: 5px;
  margin: 50px 0;
  display: block;
}

.comment__mobile{
  display: none;
}

.comment__var{
  width: 100%;
  height: 3px;
  background-color: #9a9a9a;
  border-radius: 100px;
  margin: 30px 0;
}

.comments_list{
  margin-bottom: 30px;
}

.comment__profile{
  display: flex;
  justify-content: space-between;
}

.comment_img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-right: 20px;
  object-fit: cover;
}

.comment_text{
  width: 550px;
  padding: 10px 20px 20px 20px;
  font-size: 17px;
  border: 2px solid #aaaaaa;
  border-radius: 5px;
}

.comment_user{
 color: #529ae2;
 font-size: 15px;
}

.destroy{
  text-align: right;
  margin-top: 10px;
}

.comment__none{
  font-size: 19px;
  font-weight: bold;
} 

/* マイページ（users/show）
---------------------------------------------- */

.profile{
  width: 50%;
  height: 50px;
  border: none;
}

.profile p{
  font-size: 30px;
  color: #818181;
}

.profile__main{
  border: 10px solid #84ceeb;
  width: 70%;
  height: 420px;
  border-radius: 20px;
  box-shadow: 8px 8px 2px 1px #dcd4ff;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 150px;
}

.profile__inner{
  width: 95%;
  height: 80%;
  display: flex;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.profile__user__image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  margin-right: 15px;
}

.profile__user__img{
  width: 200px;
  height: 200px;
  border: 1px solid #aaa;
  border-radius: 100px;
  object-fit: cover;
  padding: 5px;
}

.profiles__inner__user{
  width: 70%;
  height: 100%;
}

.profile__user__names{
  width: 70%;
  height: 40px;
  margin: auto;
}

.profile__user__name{
  font-size: 24px;
  font-weight: bold;
  color: #565656;
  text-align: center;
  border-bottom: 3px solid #84b8eb;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.profile__user__icons{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 30px auto 10px;
}

.user__icon{
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}

.user__icon:hover{
  margin: 5px 0 0 0;
}

.profile__user__follows{
  width: 100%;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 20px;
}

.profile__favorite{
  height: 30px;
  line-height: 13px;
  text-align: center;
  background-color: #84ceeb;
  color: #FFF;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 4px 8px 1px 0 #529ae2;
}

.profile__favorite:hover{
  margin: 4px 1px 8px 0;
  box-shadow: 4px 8px 0 0 #FFF;
}

.profile__user__profile{
  width: 100%;
  height: 180px;
  border-radius: 5px;
  margin-top: 0;
}

.profile__user__prof{
  height: 180px;
  margin: 25px;
  margin: 2em auto; 
  padding: 1em 1.5em;
  width: 100%; /*幅の調節*/
  background-color: #fff; /* 背景色 */
  border: 4px solid #d8d8d8; /*線の太さ・色*/
  border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;
}

/*---------------------------------
 サイト説明ページ（users/index）
--------------------------------- */
/* 共通の部分 */
.boxs{
  width: 100%;
  height: auto;
}

.boxs__inner{
  width: 85%;
  margin: auto;
}

.box__flex{
  display: flex;
  justify-content: space-around;
  margin: 100px auto 100px;
}

.box__top_img{
  width: 500px;
  height: 150px;
  margin: auto;
}

/* 個別の部分 */
.box1{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 50px;
}

.box1__img{
  width: 500px;
  height: 500px;
  margin: 20px auto 30px;
  animation: balloon 2s forwards;
}

@keyframes balloon{
  0%{
  opacity: 0;
  transform: translateY(100px);
  }
  50%{
    opacity: 0.5;
  }
  100%{
  opacity: 1;
  transform: translateY(0);
  }
}

.box1__scroll{
  margin-bottom: 150px;
  text-align: center;
  animation: key 1s ease infinite alternate;
}

@keyframes key {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.arrow_u{
  position: relative;
  display: inline-block;
  padding-left: 20px;
  color: #333;
  text-decoration: none;
}

.box1__scroll_btm{
  color: #aaaaaa;
  margin-top: 20px;
}

.arrow_u:before {
  content: '';
  width: 20px;
  height: 20px;
  border: 0;
  border-bottom: solid 2px #9a9a9a;
  border-right: solid 2px #9a9a9a;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  transform: rotate(45deg);
}

.box2{
  width: 100%;
  height: auto;
  margin: auto;
}

.box2__flex{
  display: flex;
  justify-content: space-around;
  margin: 80px auto 80px;
}

.box2__task_img{
  width: 400px;
  height: 300px;
  margin: auto;
  animation: balloon 6s forwards;
}

.box3{
  width: 100%;
  height: auto;
}

.box3__flex__pc{
  display: flex;
  justify-content: space-around;
  margin: 90px auto 80px;
}

.box3__cans{
  width: 450px;
  height: auto;
}

.box3__cans2{
  width: 450px;
  height: auto;
}

.box3__flex{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.box3__title_img{
  width: 40px;
  height: 40px;
}

.box3__title_text{
  color: #4983bd;
  font-size: 25px;
}

.box3__can{
  width: 450px;
  height: auto;
  font-size: 18px;
  color: #2b6f8a;
  font-weight: bold;
  padding: 30px;
  background-color: #E9F9FF;
  border-radius: 10px;
  box-shadow: 7px 7px 1px 1px #bcbec1;
}

.box3__can span{
  display: block;
  font-size: 17px;
  color: #818181;
  font-weight: bold;
  background-color: #FFF;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 17px;
}

.box4{
  width: 100%;
  height:auto;
}

.box4 h1{
  display: block;
  width: 50%;
  color: #FFF;
  text-align: center;
  background-color: #84b8eb;
  border-radius: 30px;
  margin: 200px auto 0;
  padding: 10px;
}

.box4_p{
  display: block;
  width: 50%;
  color: #2b6f8a;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  border-radius: 30px;
  margin: 40px auto 40px;
}
 
.slider{
  width: 80%;
  height: 300px;
  margin:  0 auto 100px;
}

.slider__img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-right: 20px solid #FFF ;
}

.box5{
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 120px;
}

.box5__img{
  width: 1000px;
  height: 500px;
  margin: auto;
}

.box5__text{
  width: 50%;
  color: #9e9e7b;
  text-align: center;
  border: 3px solid #84ceeb;
  border-radius: 100px;
  padding: 10px;
  margin: 0 auto 30px;
}

.box5__text span{
  font-size: 25px;
  color: #669fb6;
  font-weight: bold;
}

.box6{
  width: 100%;
  height: auto;
  margin: 200px 0 300px;
}

.box6__flex{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px auto 250px;
}

.box6__myimg{
  background-color: #aaaaaa;

  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 100px;
}

.box6__profiles{
  position: relative;
  width: 60%;
  height: auto;
  margin: auto;
}

.box6__name{
  width: 80%;
  height: 55px;
  font-size: 30px;
  color: #9a9a9a;
  text-align: center;
  line-height: 55px;
  font-weight: bold;
  margin: 0 auto 10px;
}

.box6__profiles__who{
  position: absolute;
  top: 280px;
  right: 30px;
  font-size: 60px;
  opacity: 0.2;
  font-style: italic;
  color: #aaaaaa;
}

.box6__profile{
  width: 100%;
  height: auto;
  font-size: 15px;
  border: 3px solid #dcdcdc;
  border-radius:10px;
  padding: 30px;
}

.box6__profile span{
  border-bottom: 3px solid #84b8eb;
}

.box7{
  width: 100%;
  height: 550px;
}

.box7__img{
  width: 300px;
  height: 300px;
  margin: auto;
}

.box7__btns{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 60px auto 0;
}

.box7__btn1,
.box7__btn2{
  display: block;
  color: #FFF;
  font-size: 17px;
  font-weight: bold;
  padding: 20px;
  border-radius: 100px;
  box-shadow: 6px 6px 0 0 #cccccc;
}

.box7__btn1{
  background-color: #90cee9;
}

.box7__btn1:hover{
  background-color: #818181;
}

.box7__btn2{
  background-color: #84b8eb;
}

.box7__btn2:hover{
  background-color: #818181;
}

/*---------------------------------
 以下レスポンシブデザイン
--------------------------------- */


/* タブレット対応
--------------------------------- */
@media (max-width: 1024px) {
   
/* 共通の部分 */

.main-contents{
  width: 90%;
}

/* ヘッダー */
.nav{
  padding: 40px 20px;
}

.nav__left{
  width: 70%; 
}

/* 新規登録・ログイン */
  
form{
  width: 80%;
}
    
.form__btn,
.delete__btn{
  width: 80%;
}

.form__top{
  width: 40%;
}

/* トップページ（items/index） */
.index__btn1{
  position: absolute;
  top: 250px;
  right: 50px;

  width: 200px;
  height: 200px;
  margin: 0 auto 10px;
}

.index__btn2{
  position: absolute;
  top: 500px;
  right: 40px;

  width: 100px;
  height: 100px;
  margin: 0 auto 5px;
}

.item__wrapper{
  gap: 10px;
  grid-template-columns: repeat(3,minmax(200px , 1fr));
}

.slider_toppage{
  width: 100%;
}

.toppage{
  width: 100%;
  margin:  0 auto;
}


/* 投稿詳細ページ（items/show） */
.box26 {
  width: 100%;
  margin: 0 auto 75px;
  padding: 35px;
}

/* マイページ（users/show）*/

.profile__main{
  width: 90%;
  height: 500px;
  margin-bottom: 100px;
}

.profile__inner{
  margin-top: 30px;
  margin-bottom: 20px;
}

.profile__user__profile{
  height: 260px;
}

.profile__user__prof{
  height: 260px;
}

/*  サイト説明ページ（users/index） */
 .box3__flex__pc{
  display: block;
  margin: 90px auto 80px;
}

.box3__cans,
.box3__cans2{
  margin: auto;
}

.box3__cans2{
  margin-top: 100px;
}

 .box5{
  background-color: none;
}

 .box5__img{
  width: 800px;
  height: 400px;
}

.box6__flex{
  width: 100%;
  margin: 70px auto 250px;
}

}




 /* スマホ表示
--------------------------------- */
@media (max-width: 599px) {

/* 共通の部分 */
.topver-search{
  width: 90%;
}

.search__form__users{
  width: 100%;
  margin: 0 auto;
}

.search__radiobtn{
  font-size: 10px;
  padding: 5px;
  margin-right: 6px;
}

/* ページネーション */
.pagination span{
  font-size: 17px;
}

/* ヘッダー */
.nav{
  padding: 40px 10px;
}

.nav__right{
  width: 70%;
}

.logo__mobile{
  width: 300px;
  height: 70px;
  display: block;
}

.logo__pc{
  display: none;
}

.nav__btn,
.nav__btn2{
 margin-right: 15px;
 font-size: 12px;
 padding: 7px 7px;
}

.header__user__name{
  font-size: 14px;
  margin-right: 7px;
}

.header__user__img{
  width: 50px;
  height: 50px;
}

.nav__frame {
  font-size: 15px;
  line-height: 200%;
  margin-left: 10px;
}

/* パン屑リスト */
.page__list{
  font-size: 18px;
}

/* 新規登録・ログイン・ユーザー登録情報編集 */
.login{
  width: 90%;
}
  
.form__wrapper{
  width: 90%;
}
  
.login__top{
  width: 40%;
}

.login__attention{
  font-size: 15px;
}

.form__top{
  width: 50%;
  font-size:  25px;
}

/* 編集機能でのみ使用 */
.account__destroy{
  width: 80%;
  margin: 100px auto 120px;
}

/* 作品投稿機能（items/new） */
.post__contents{
  margin: 100px 40px ;
}

.post__top{
  width: 350px;
  margin-top: 30px;
}

/* トップページ（items/index） */

.index__btn1{
  position: absolute;
  top: 230px;
  right: 20px;

  width: 120px;
  height: 120px;
  animation: none;
}

.index__btn2{
  position: absolute;
  top: 380px;
  right: 10px;

  width: 80px;
  height: 80px;
  animation: none;
}

.index__left__img{
  width: 500px;
  height: 250px;
  margin: 0 100px 20px 0;
}

.item__wrapper{
  gap: 0px;
  grid-template-columns: repeat(2,minmax(160px , 1fr));
}

.item{
  width: 160px;
  height: 170px;
}

.item__img{
  width: 160px;
  height: 160px;
  box-shadow: 4px 4px 1px 1px  #f5f5f5;
}

.item__img:hover{
  width: 150px;
  height: 150px;
  box-shadow: 4px 4px 1px 1px #C0E4F2;
} 

.item__favorite{
  font-size: 14px;
  padding: 5px;
}

.favorite__count{
  font-size: 14px; 
}

.item__user__over{
  line-height: 250%;
  font-size: 10px;
}

.item__user__over:hover{
  font-size: 10px;
}

.slider_toppage_p{
  width: 70%;
}

.toppage{
  width: 100%;
  height: 200px;
}

.slider__img_toppage{
  width: 170px;
  height: 170px;
}

/* 投稿詳細ページ（items/show） */
.post__item__favorite{
  font-size: 19px;
}

.post__favorite__count{
  font-size: 19px; 
}

.item__post__user{
  font-size: 17px;
}

.post__image{  
  width: 350px;
}

.post__tag{
  width: 350px;
}

.box26 {
  width: 100%;
  font-size: 14px;
  margin: 0 auto 75px;
  padding: 35px;
}

.post__manage{
  width: 80%;
  margin: 0 auto 50px;
}

.post__manage2{
  width: 100%;
}

.items__btn1,
.items__btn2{
  font-size: 13px;
  padding: 10px;
}

.edit__btn,
.destroy__btn,
.comment__btn{
  width: 120px;
  font-size: 15px;
}

.edit__btn{
  margin-right: 10px;
}

/* コメント(items/show,comments/_form,comments/_item_comment) */
.comments{
  margin: 40px 30px ;
}

.post__comment{
  height: 110px;
}

.comments__contents{
  width: 500px;
}

.comment__text{
 font-size: 17px;
}

.comment__btn{
  margin-top: 20px;
}

.comment__mobile{
  display: block;
  width: 500px;
  height: 85px;
  border-radius: 5px;
}

.comment__pc{
  display: none;
}

.comment_img{
  margin-right: 8px;
}

.comment_text{
  width: 300px;
  font-size: 15px;
}

.comment__none{
  font-size: 15px;
} 

/* マイページ（users/show） */
.profile p{
  font-size: 25px;
}

.profile__main{
  border: 7px solid #84ceeb;
  height: 430px;
  margin-bottom: 80px;
}

.profile__inner{
  height: 90%;
  margin-top: 20px;
}

.profile__user__image{
  width: 28%;
  margin-right: 13px;
}

.profile__user__img{
  width: 100px;
  height: 100px;
}

.profile__user__names{
  width: 80%;
}

.profile__user__name{
  font-size: 19px;
}

.profile__user__follows{
  font-size: 17px;
  margin: 20px 0 10px;
}

.profile__user__icons{
  width: 100%;
}

.user__icon{
  width: 40px;
  height: 40px;
}

.profile__user__profile{
  height: 240px;
  margin-top: 10px;
}

.profile__user__prof{
  font-size: 14px;
  height: 240px;
}

/*  サイト説明ページ（users/index） */
 .box__top_img{
  width: 330px;
  height: 100px;
}

 .box1{
  padding: 10px;
}

.box1__img{
  width: 450px;
  height: 450px;
}

.box2__flex{
  display: block;
  margin: 40px auto 100px;
}

.box2__task_img{
  width: 400px;
  height: 300px;
  margin: auto;
}

.box3__cans2{
  margin-top: 60px;
}

.box3__title_img{
  width: 30px;
  height: 30px;
}

.box3__title_text{
  font-size: 22px;
}

.box3__can{
  font-size: 15px;
}

.box3__can span{
  font-size: 16px;
  padding: 10px;
  margin-bottom: 17px;
}

.box4 h1{
  width: 70%;
  font-size: 20px;
  margin: 180px auto 0;
  padding: 10px;
}

.box4_p{
  width: 80%;
  font-size: 18px;
  border-radius: 30px;
  margin: 40px auto 40px;
}

.slider{
  width: 100%;
  margin:  0 auto 60px;
}

.slider__img{
  width: 170px;
  height: 170px;
}

.box5__text{
  width: 85%;
  border: 3px solid #84ceeb;
  padding: 15px;
  margin: 0 auto 30px;
}

.box5__text span{
  font-size: 19px;
}

.box5__text p{
  font-size: 14px;
}

.box5__img{
  width: 500px;
  height: 250px;
}

.box6{
  margin-top: 100px;
}

.box6__flex{
  width: 100%;
  display: block;
  margin: 70px auto 250px;
}

.box6__profiles{
  width: 100%;
  height: 80px;
  margin-top: 40px;
}

.box6__profile{
  padding: 25px;
}

.box6__profiles__who{
  top: 340px;
  right: 20px;
}

.box7{
  margin-top: 400px;
}

.box7__img{
  width: 250px;
  height: 250px;
}

.box7__btns{
  width: 100%;
  margin: 80px auto 0;
}

}